/* Intégration de la police d'écriture à l'aide de font squirrel */
@font-face {
    font-family: 'coolveticaregular';
    src: url('ressources/font/coolvetica_rg-webfont.woff2') format('woff2'),
    url('ressources/font/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'coolveticaregular', sans-serif;
}

body{
    background-color: #2E2E2E;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

section{
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}
