/* Intégration de la police d'écriture à l'aide de font squirrel */
@font-face {
    font-family: 'coolveticaregular';
    src: url('ressources/font/coolvetica_rg-webfont.woff2') format('woff2'),
    url('ressources/font/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'coolveticaregular', sans-serif;
}

body{
    background-color: #2E2E2E;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#center{
    height: 78vh;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
}

#nuage{
    position: absolute;
}

#texte1{
    color: black;
    font-size: 35px;
}

#texte2{
    display: flex;
    justify-content: center;
}