*{
    margin: 0;
    padding: 0;
    font-family: 'coolveticaregular', sans-serif;
}
body, html{
    height: 100%;
}
body{
    text-align: center;
}

#main{
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}

span {
    color: white;
}

p {
    color: #951717;
    margin-top: 10px;
}

footer{
    background:#171717;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
}