/* Intégration de la police d'écriture à l'aide de font squirrel */
@font-face {
    font-family: 'coolveticaregular';
    src: url('ressources/font/coolvetica_rg-webfont.woff2') format('woff2'),
    url('ressources/font/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'coolveticaregular', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header{
    background-color: #171717;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;

}

#logo{
    max-height: 20%;
    max-width: 20%;
    cursor: pointer;
    justify-content: flex-start;
}


.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #951717;
}

#region {
    background-color: #171717;
    color: #ffffff;
    border: none;
    outline: none;
    margin-left: 20px;
}

#region:hover{
    color: #951717;
    transition: 0.3s;
}


