body {
    background: #2E2E2E;
    overflow: hidden;
}

section{
    overflow: hidden;
    overflow-y: scroll;
}

#avatar{
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    top: 15%;
    left: 25%;
    border-radius: 20%;
}

#summonername{
    position: absolute;
    padding-left: 30px;
    top: 17.5%;
    left: 30%;
    color: #ffffff;
    font-size: 45px;
}



#tier_img{
    position: absolute;
    top: 220px;
    left: 25.5%;
    max-height: 100px;
    max-width: 100px;
}

table{
    position: absolute;
    border: 3px solid #951717;
    width: 50%;
    height: 80%;
    left: 32%;
    top: 30%;
}
table td{
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
}

table img{
    max-width: 40px;
    max-height: 40px;
}